body {
    background-image: url(../assets/images/light_honeycomb/light_honeycomb.png);
}



.project-text {
    position: absolute;
	width: 350px;
	bottom: 20px;
	padding: 15px;
	margin-bottom: 0;
	font-weight: 300;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #4aaaa5;
	border-bottom: 0;
}

